<div class="col-sm-12 text-center">
<h2>More information about {{rental.owner}}'s {{rental.type}}</h2>
Located in {{rental.city.name}}, this {{rental.bedrooms}} bedroom {{rental.type}} is
available by arrangement through {{rental.owner}}.
    <small>Address:{{rental.address}}</small>
    <br>
    <p>Renting on Super Rentals since: {{format-date rental.date_added}}</p>
  <hr/>
  <div class="col-sm-12">
    <p class="col-sm-8 col-sm-offset-2"><img src={{rental.image}} alt={{rental.type}} class="img-responsive img-thumbnail"></p>
    </div>
</div>

