{{#if updateRentalForm}}
    <h4>Update {{rental.owner}}'s {{rental.type}}</h4>
    <div>
        <form>
            <div class="form-group">
                <label for="owner">Owner</label>
              {{input class="form-control" value=owner id="owner" placeholder=rental.owner}}
            </div>

            <div class="form-group">
                <label for="type">Type</label>
              {{input class="form-control" value=type id="type" placeholder=rental.type}}
            </div>

            <div class="form-group">
                <label for="city">City</label>
              {{input class="form-control" value=city id="city" placeholder=rental.city}}
            </div>

            <div class="form-group">
                <label for="bedrooms">Number of Bedrooms</label>
              {{input class="form-control" value=bedrooms id="bedrooms" placeholder=rental.bedrooms}}
            </div>

            <div class="form-group">
                <label for="image">Image URL</label>
              {{input class="form-control" value=image id="image" placeholder=rental.image}}
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                {{input value=address id="address" class="form-control" placeholder=rental.address}}
            </div>
            <button {{action 'update' rental}} class="btn btn-primary">Save</button>
            <button {{action 'cancelUpdate'}} class="btn btn-danger">Cancel</button>
        </form>
    </div>
{{else}}
    <button {{action 'updateRentalForm'}} class="btn btn-primary btn-sm">Update</button>
{{/if}}